body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

p {
    color: white;
}

.DivUI {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
}

#TitleScreen p {
    font-size: 10vh;
    align-self: center;
}